{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
      <div class="medium-12 large-12 columns">
        <h4>Boek een plek</h4>
        <div class="medium-2  columns">BOEK VANAF:  </div>
        <div class="medium-2  columns"><b>{{ client.name }} {{ client.lastName }}</b></div>
        <form action="{{ path('booking', {'id_client': client.id}) }}" method="post">
          <div class="medium-1  columns">VAN:</div>
          <div class="medium-2  columns"><input name="form[dateFrom]" value="{{dates.from}}" type="text" class="datepicker" /></div>
          <div class="medium-1  columns">TOT:</div>
          <div class="medium-2  columns"><input name="form[dateTo]" value="{{dates.to}}" type="text" class="datepicker" /></div>
          <div class="medium-2  columns"><input class="button" type="submit" value="SEARCH" /></div>
        </form>

        <table class="stack">
          <thead>
            <tr>
              <th width="200">PLEK</th>
              <th width="200">BESCHIKBAARHEID</th>
              <th width="200">ACTIE</th>
            </tr>
          </thead>
          <tbody>
          
            {% for room in rooms %}
              <tr>
                <td>{{room.name}}</td>
                <td>
                  <div class="callout success">
                      <h5>Beschikbaarheid</h5>
                  </div>
                </td>
                <td>
                  <a class="hollow button warning" href="{{ path('book_room', {'id_client': client.id, 'id_room': room.id, 'date_in': dates.from, 'date_out': dates.to}) }}">BOEK NU PLEK</a>
                </td>
              </tr>
            {% endfor %}
          
          </tbody>
        </table>
      </div>
    </div>
{% endblock %}